@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lilita One';
    src: url('/assets/fonts/lilita-one/LilitaOne-Regular.ttf') format('truetype');
}

@import '/assets/fonts/lilita-one/LilitaOne-Regular.ttf';

*{
    font-family: 'Lilita One';
    color: white;
}

.outline{
    outline-style: none;
    text-shadow: -1px -1px 0 #00A7C1, 1px -1px 0 #00A7C1, -1px 1px 0 #00A7C1, 1px 1px 0 #00A7C1;
}
html{
    scroll-behavior: smooth;
}